body {
	padding-top: 40px;
}

#container {
	height: 400px;
}

#parse-container {
	margin-bottom: 10px;
}

#image {
	overflow: auto;
	width: 100%;
	height: 100%;
}

#parse-box {
	height: 100%;
	margin-right: 10px;
}

#parse-box textarea {
	width: 100%;
	height: 100%;
	resize: none;
	font-family: monospace;
}

#annotation-box {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

#annotation-box input {
	width: 80%;
	margin-bottom: 3px;
}

#tags-box {
	border: 1px solid black;
	margin-bottom: 5px;
	width: 100%;
}

#tags-padder {
	padding: 2px;
	overflow: auto;
}

#tags-padder div {
	float: left;
	/*width: 150px;*/
	margin-right: 15px;
}

.clear {
	clear: both;
}

#buttons {
	float: right;
}

.accelerator {
	font-weight: bold;
}

.tag-label-machine {
	color: gray;
}

a.desired-link {
	color: red;
}

#entry a {
	text-decoration: underline !important;
}
#entry {
	padding: 20px;
	background: #eee;
	margin: 20px 0;
}